

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.infos__description--container {
    display: flex;
    gap: 2%;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;

}

.infos__container {
    margin: auto;
    max-width: 1230px;

}

.infos__location--container {
    position: relative;
    flex-direction: column;
    margin-top: 10px;
}

.infos__title {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 0% 0% 0%;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #FF6060;
    font-weight: 500;

}

    .infos__location {
        display: flex;
        text-align: left;
        margin: auto;
        margin-bottom: 20px;
        font-weight: 500;

    }

.infos__tags {
    display: flex;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
  
}

.infos__tags--items {
    background-color: #ff6060;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 0 20px 10px 0;
    padding: 7px 20px;
}


.infos__host {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: -120px auto 0;
    z-index: 0;
}


.infos__host--name {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF6060;
    width: 93px; 
    margin-right: 2%;
    

}

.infos__host--picture {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    padding: 0;
    object-fit: cover;
    
}

.infos__description--container {
    display: flex;
    gap: 2%;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;

}


@media screen and (max-width: 768px){

    .infos__title {
        width: 335px;
        top: 320px;
        left: 20px;
        font-size: 18px;
        line-height: 34px;
        margin: 0% 0% 0% 7%;
    }

    .infos__location {
        font-size: 14px;
        margin: 0% 0% 0% 7%;
    }

    .infos__tags {
        margin: 1% 0% 0% 6%;
        padding: 0;
    }

    .infos__tags--items {
    font-size: 12px;
    padding: 4px 10px 4px 10px;

    
    }


    .infos__host {
        display: flex;
        align-items: center;
        margin-right: 33px;
        margin-top: 5px;
    }

    .infos__host--name {

        font-size: 14px;
   
    }

    .infos__host--picture {
        
        width: 50px;
        height: 50px;
    }

    .infos__description--container {
        display: flex;
        width: 335px;
        flex-direction: column;
        margin: auto;
        padding: 0;
        margin-bottom: 50px;
    }


}