
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  body {
    margin: 0;
    padding: 0;
  }


* {
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#navbar #navbar__logo {
  width: 210.32px;
}
#navbar .navbar__menu--item {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: black;
  text-decoration: none;
  margin: 15px;
}
#navbar .navbar__menu--item:hover {
  text-decoration: underline;
}

header {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
}

#header__img {
  width: 1280px;
  height: 223px;
  top: 163px;
  left: 100px;
  border-radius: 25px;
  filter: brightness(50%);
  object-fit: cover;
  z-index: 0;
}

#header__title {
  position: absolute;
  left: 20%;
  top: 40%;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;  
  color: white;
  text-shadow: #000 2px 2px 2px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#location__cards--container {
  margin: 0 auto;
  max-width: 1240px;
  position: relative;
  right: 1.5%;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 75px;
  margin-bottom: 75px;

}

.location__cards {
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.location__cards:hover {
  
  transform: scale(1.05);
  transition: transform 0.5s;
}

.location__cards--img {
  border-radius: 15px;
  height: 340px;
  object-fit: cover;
  width: 340px;
}


.location__cards--text {
  top: 320px;
  color: #fff;
  font-size: 18px;
  left: 20px;
  margin: 0;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-shadow: 5px 5px 5px #000;
  
}




footer {
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  height: 209px;
}

#footer__img {
  position: absolute;
  top: 5%;
  left: 48%;
  width: 122px;
  height: 122px;
}

.footer__text {
position: absolute;
left: 41%;
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
color: white;

}


@media screen and (max-width: 768px) {



  #navbar #navbar__logo {
    margin-left: 15px;
    width: 150px;
}

#navbar .navbar__menu--item {
  font-size: 18px;
  margin: 10px;
}

header {
  margin-left: 9.5px;
}

#header__img {
  width: 370px;
  height: 111px;
  border-radius: 15px;
  filter: brightness(50%);
  object-fit: cover;
  z-index: 0;
}

#header__title {
  left: 7%;
  top: 30%;
  font-size: 20px;
  line-height: 56px;
  z-index: 1;
  white-space: pre-wrap;
}



#location__cards--container {
  position: relative;
  right: 0;
  margin: 0;
}

.location__cards {
  width: 335px;
  padding: 0;
 
}

#footer__img {
  top: 20%;
  left: 40%;
  width: 100px;
  height: 100px;
  
}

.footer__text {
  left: 15%;
  top: 50%;
  font-size: 18px;
  line-height: 24px;

}

}