* {
    font-family: 'Montserrat', sans-serif;
}


#slider__container {
    position: relative;
    margin: auto;
    max-width: 1300px;
    height: 415px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.slider__pictures {
    display: flex;
    max-width: 1500px;
    margin-right: 0.5%;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
    border-radius: 25px;
}

.arrow__left {
    position: absolute;
    top: 35%;
    left: 2%;
    border: none;
    background-color: transparent;
    width: 96px;
    height: 119.64px;
    cursor: pointer;
    z-index: 1;
}

.arrow__right {
    position: absolute;
    top: 35%;
    right: 2%;
    border: none;
    background-color: transparent;
    width: 96px;
    height: 119.64px;
    cursor: pointer;
    z-index: 1;
}

.slider__counter {
    position: absolute;
    bottom: 10%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-shadow: #000 2px 2px 2px;
    z-index: 1;
    
}


@media screen and (max-width: 768px){

    #slider__container {
        max-width: 355px;
        height: 255px;
        border-radius: 20px;
   
    }

   
    .arrow-img {
        width: 21.67px;
        height: 29.8px;
       }

    .arrow__left {
        top: 25%;
        left: -8%;

    }

    .arrow__right {
        top: 25%;
        right: -8%;
    }

   

    
}